h1 {
  text-align: center;
  margin: 10%;
  font-family: monospace;
  font-size: 60px;
}
h4 {
  border: 3px solid #095082;
  margin: 20%;
  width: 350px;
  height: 350px;
  background-color: #9AD4F6;
  text-align: center;
  padding: 20% 20% 20% 20%;
}
p {
  display: none;
}
 #jsp,#booleanp,#jqueryp,#functionsp,#stringsp,#nanp {
   border: 3px solid #095082;
   margin: 20%;
   width: 350px;
   height: 350px;
   background-color: #9AD4F6;
   text-align: center;
   padding: 10% 20% 20% 20%;
}
